<component name="libraryTable">
  <library name="spring-cloud-starter-alibaba-nacos-discovery-2.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/spring-cloud-starter-alibaba-nacos-discovery-2.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>